@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Cores */

    --White: hsl(0, 0%, 100%);

    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);

    --Brown800: hsl(14, 45%, 36%);

    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);

    /* Fontes */

    --font-titulo: "Young Serif", serif;
    --font-paragrafo: "Outfit", sans-serif;
}

@media screen and (min-width: 601px) {
    body {
        background-color: var(--Stone100);
    }

    main {
        max-width: 700px;
        margin: 50px auto;
        background-color: var(--White);
        border-radius: 15px;
    }

    main > div#imagem > img {
        width: 90%;
        display: block;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 30px;
        transform: translateY(30px);
    }

    main > article {
        padding: 30px;
    }

    main > article > h1 {
        color: var(--Stone900);
        font-family: var(--font-titulo);
        font-size: 2em;
        font-weight: 400;
    }

    main > article > p {
        font-family: var(--font-paragrafo);
        margin-top: 20px;
        margin-bottom: 40px;
        color: var(--Stone600);
        font-size: 16px;
        font-weight: 600;
    }

    main > article > div#preparation-time {
        background-color: var(--Rose50);
        padding: 20px;
        border-radius: 10px;
    }

    main > article > div#preparation-time > h2 {
        font-family: var(--font-paragrafo);
        color: var(--Rose800);
        margin-bottom: 10px;
    }

    main > article > div#preparation-time > ul {
        list-style-position: inside;
        line-height: 2em;
        font-family: var(--font-paragrafo);
        color: var(--Stone600);
        font-size: 16px;
        margin-left: 10px;
        font-weight: 400;
    }

    main > article > div#preparation-time > ul > li::marker {
        color: var(--Rose800);
    }

    main > article > div#ingredients > h3 {
        font-family: var(--font-titulo);
        font-weight: 400;
        font-size: 2em;
        color: var(--Brown800);
        margin-top: 30px;
        margin-bottom: 20px;
    }

    main > article > div#ingredients > ul {
        list-style-position: inside;
        margin-left: 10px;
        line-height: 2em;
        font-family: var(--font-paragrafo);
        color: var(--Stone600);
        font-size: 16px;
    }

    main > article > div#ingredients > ul > li::marker {
        color: var(--Brown800);
    }

    main > article > hr {
        margin: 30px 0px;
    }

    main > article > div#instructions > h3 {
        font-family: var(--font-titulo);
        font-weight: 400;
        font-size: 2em;
        color: var(--Brown800);
        margin-top: 30px;
        margin-bottom: 20px;
    }

    main > article > div#instructions > ol {
        margin-left: 10px;
        line-height: 2em;
        font-family: var(--font-paragrafo);
        color: var(--Stone600);
        font-size: 16px;
        list-style-position: inside
    }

    main > article > div#instructions > ol > li::marker {
        color: var(--Brown800);
        font-weight: 700;
        margin-right: 15px;
    }

    main > article > div#nutrition > h3 {
        font-family: var(--font-titulo);
        font-weight: 400;
        font-size: 2em;
        color: var(--Brown800);
        margin-top: 30px;
        margin-bottom: 20px;
    }

    main > article > div#nutrition > p {
        font-size: 16px;
        font-family: var(--font-paragrafo);
        color: var(--Stone600);
        margin-bottom: 20px;
    }

    main > article > div#nutrition > div#listas {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    main > article > div#nutrition > div#listas > ul {
        list-style-type: none;
    }

    main > article > div#nutrition > div#listas > ul#parte-1 {
        font-family: var(--font-paragrafo);
        font-weight: 600;
        color: var(--Stone600);
        line-height: 2em;
    }

    main > article > div#nutrition > div#listas > ul#parte-2 {
        font-family: var(--font-paragrafo);
        color: var(--Brown800);
        font-weight: 700;
        line-height: 2em;
    }
    
    div.attribution {
        font-size: 11px; text-align: center;
    }
 
    div.attribution > a {
        color: hsl(228, 45%, 44%);
        text-decoration: none;
    }
 
    div.attribution > a:hover {
        text-decoration: underline;
    }
}